games/EditorData/editor/editor.rui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ui">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="link">
          <xs:complexType>
            <xs:attribute name="rel" use="required" />
            <xs:attribute name="href" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="div" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="div" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="div" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="class" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="class" />
                  <xs:attribute name="id" />
                </xs:complexType>
              </xs:element>
              <xs:element name="span" minOccurs="0" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
